// ### Primary colors

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

// ### Neutral colors

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// fonts
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// request button
.btn--request {
  height: 35px;
  width: 140px;
  text-align: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(49, 211, 92);
  background: linear-gradient(
    22deg,
    rgba(49, 211, 92, 0.6895133053221288) 0%,
    rgba(49, 211, 92, 0.6643032212885154) 34%,
    rgba(43, 185, 209, 0.5242471988795518) 72%,
    rgba(43, 183, 218, 0.6054796918767507) 100%
  );
  font-weight: 700;
  color: white;
}

.btn--request:hover {
  background: rgb(49, 211, 92);
  background: linear-gradient(
    22deg,
    rgba(49, 211, 92, 0.4962359943977591) 0%,
    rgba(49, 211, 92, 0.44021358543417366) 34%,
    rgba(43, 185, 209, 0.36738445378151263) 72%,
    rgba(43, 183, 218, 0.5214460784313726) 100%
  );
}

// navbar styling
.navbar {
  padding: 0 100px;
  height: 60px;
  max-width: 1440px;
  min-width: 1020px;
  background-color: $Grayish-Blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav__logo {
    height: 20px;
  }
  .nav__list {
    display: flex;

    list-style-type: none;
    li {
      margin: 15px 0px 20px 20px;
      font-size: 15px;
    }
  }
}
